# Django
SECRET_KEY=sua_chave_secreta_aqui_com_mais_de_50_caracteres
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Security
SECURE_BROWSER_XSS_FILTER=True
SECURE_CONTENT_TYPE_NOSNIFF=True
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# Database (PostgreSQL)
DB_ENGINE=postgresql
DB_NAME=pi_univesp
DB_USER=postgres
DB_PASS=admin
DB_HOST=localhost
DB_PORT=5432

# Database (SQLite - desenvolvimento rápido)
SQLITE_NAME=db.sqlite3
